.background{
    background-image: url("./tutions.jpg");
    width: 1346px;
    height: 634px;
    background-size: cover;
    background-position: center;
}
ul {
    float: right;
    list-style: none;
    margin-top: 25px;

}
ul >li {
      display: inline-block;
}
     
ul >li a {
    text-decoration: none;
    padding:5px 20px;
    margin: 4px;
    font-size: x-large;
    
    border: 1px solid transparent;
    color: white;
    transition: 0.6s ease;
}
ul >li a:hover{
     background-color:white;
     color: #000;
     
}
.logo img{
    float: left;
    width: 296px;
    height: auto;
    margin: 8px 5px 5px 9px;   
}
.titel{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.titel h1{
    color: white;
    font-size: 70px;
}
.sback{
    background:white ;
    height: 100vh;
    padding: 5px;
}
img{

    width: 40%;
    height: 82%;
}
.tback{
    
    height: 100vh;
    background-color: yellow;
    padding: 5px;
}
.fback{
    background-color:white;
    height: 100vh;
    
    padding: 5px;
}
.fiback{
   
    height: 100vh;
    padding: 5px;
}
.form{
    border: 2px solid;
    padding: 10px;
    margin: 10px;
}

.block{
   margin: 10px auto;
    padding: 2px;
   width: 50%;
   float: right;
  
}
.text{
   font-size: 15px;
   font-family:'poppins',sans-serif;
   text-align: justify;
   box-sizing: border-box;
   margin-right: 30px;
   

}
.head1{
    text-align: center;
    font-display: bold;
    margin-bottom: 40px;
    color :black;
    font-size: 3em;
    font-weight: 300;
}
.head1 span{
    color: red;
    font-weight: 700;
    font-size: 1.5em;
}
.tback img{
    width: 826px;
    height:657px;
    margin: -156px -10px 73px 4px;
    float: right;
    box-shadow: 0 15px 50px black;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}
.font{
    text-align: center;
    font-display: bold;
    margin-bottom: 150px;
    
    margin: 10px 10px 57px 10px;
    color :grey;
    font-size: 3em;
    font-weight: 300;
}
.font1{
    text-align: center;
    font-display: bold;
    margin-bottom: 150px;
    
    margin: 10px 374px 51px 302px;
    color :black;
    font-size: 3em;
    font-weight: 300;
}

.font1 span{
    color:red;
    font-weight: 700;
    font-size: 1.5em;
}


.font span{
    color:brown;
    font-weight: 700;
    font-size: 1.5em;
}




.titel{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titleText {
    color: #000;
    font-size: 3em;
    font-weight: 300;
    text-align: center;
}
.titleText span {
    color: red;
    font-weight: 700;
    font-size: 1.5em;
}
.contact{
    background-image: url('./girl.jpg');
    background-size: cover;
    height:671px;

}
.contactform{
    padding: 75px 50px;
    background: white;
    box-shadow: 0 15px 50px black;
    max-width: 500px;
    margin-top: 15px;
    margin-left: 9px;
}
.contactform h3{
    color: #000;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform .inputBox input,
.contactform .inputBox textarea {
    width: 100%;
    border: 1px solid grey;
    padding: 10px;
    color: #000;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;

}
.contactform .inputBox input[type='submit']{
    font-size: 1em;
    color: white;
    background:red;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer; 
    margin-top: 15px;
}
.copyRightsText{
    padding: 8px 40px;
    border-top: 1px solid black;
    text-align: center;
    background: white;
}
.copyRightsText p{
    color: grey;
}
.copyRightsText a{
    color: red;
    font-weight: 500;
    text-decoration: none;
}
.inputradio{
   padding: 9px;
   margin: 1px;
   width: 192px;
   height: 47px;
   border: 1px solid grey;
}
.inputradio input  {
      padding: 5px;
      margin: 5px;
      
}
.shead{
      text-align: left;
    font-family:   poppins sans-serif;
    font-size:50px;
    color: white;
    margin: -113px 10px 10px 103px
}
   


.phead{
    padding: 25px;
    margin: -7px auto;
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: poppins sans-serif;

}


 
 
.fiback img{
    height:  350px;
    padding:15px;
    width: 300px;
    margin: 2px 10px 10px 18px; ;
    box-shadow: 0 15px 50px black;


}
